@font-face {
    font-family: MyLato;
    src: url("/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: MyLato;
    src: url("/fonts/Lato-Semibold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: MyFutura;
    src: url("/fonts/FuturaPTBook.otf");
}

@font-face {
    font-family: MyAwesome;
    src: url("/fonts/FontAwesome.otf");
}
