$body-color: #1d1d1d;
$font-family-sans-serif: 'MyLato', sans-serif;
$headings-color: #576074;
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAtOCA0MC40MyAzMi42Ij48cGF0aCBmaWxsPSIjNmM3NTdkIiBkPSJNNDAuNDMgMTIuMjNMMC4wNiAyNC42IDEzLjkzIDEyLjMgMCAwIDQwLjQzIDEyLjIzIi8+PC9zdmc+);

$theme-colors: (
  "primary": #25499c,
  "danger": #ff4136
);
