body {
    font-family: $font-family-base;
    font-size: 14pt;
    color: $body-color;
    padding: 0;
    margin: 0;
}

header {
    padding: 2rem 0;
    position: fixed;
    background-color: $body-bg;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .1s;

    svg {
        height: 6rem;
        transition: .1s;
    }

    &.small {
        padding: .5rem 0;
        font-size: 50%;

        svg {
            height: 2rem;
        }

        button {
            height: 1.5rem;
            font-size: small;
            padding: 0 1.25rem;
        }
    }

    span {
        &:first-child {
            margin-left: 6rem;
        }

        &:last-child {
            margin-right: 6rem;
        }
    }
}

main {
    padding: 8rem 0 2rem;
    background-color: $body-bg;
}

footer {
    background-color: theme-color();
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
        margin: 0 1rem;
        padding: 1rem 0;
        text-align: center;
    }

    .contact {
        font-weight: bold;

        > span {
            padding: 0 .75rem;
        }
    }

    .copyright {
        border-top: .0625rem solid hsla(0, 0%, 100%, .05);
        font-weight: normal;
        opacity: .75;
    }
}

.fa {
    font-family: MyAwesome;
    padding-right: .5rem;
}

.highlight_color {
    color: theme-color();
}

h1, h2, h3, h4, h5, h6 {
    font-family: MyFutura, sans-serif;
    text-transform: uppercase;

    small {
        padding-left: 1rem;
        text-transform: none;
        opacity: .7;
    }
}

h1 {
    margin: 1rem 0 2rem;
    position: relative;

    &:before {
        content: '';
        background-color: theme-color();
        height: .5rem;
        width: 12rem;
        position: absolute;
        bottom: -.5rem;
        left: 0;
    }
}

a {
    text-decoration: none !important;
    color: theme-color();

    &.disabled {
        cursor: default;

        * {
            color: $body-color;
        }
    }
}

button.ghost {
    padding: 0 2.5rem;
    background-color: transparent;
    border: .0625rem solid theme-color();
    font-family: $font-family-base;
    font-weight: bold;
    color: theme-color();
    text-align: center;
    vertical-align: middle;
    height: 3.5rem;
    cursor: pointer;
    font-size: large;
    transition: .1s;
}

a.button:after {
    content: '';
    display: block;
    border-bottom: .125rem solid theme-color();
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a.button:hover:after {
    transform: scaleX(1);
}

ul {
    margin: 0 0 0 1rem;
    padding: 0;
}

div.profile-picture {
    padding-top: 3rem;
    text-align: center;

    img {
        padding-bottom: 1rem;
        max-width: 100%;
    }
}

#quick-actions {
    padding-top: 1rem;
    margin: 0;
}

nav {
    padding: 3rem 0 .25rem;
    background-color: $body-bg;
}

.clickable {
    cursor: pointer;
}

#employees-grid {
    .card-image-container {
        overflow: hidden;
    }

    .card img.card-img-top {
        transition: .2s;
    }

    .card:hover {
        img.card-img-top {
            transform: scale(1.05);
        }

        .card-body {
            background-color: $list-group-hover-bg;
        }
    }
}

#employees-table_wrapper {
    width: 100%;
}
